@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/mpc"> Component Without paramaters </a>
<a href="/mpc/Mano/27">  Component Wid paramaters </a>

<SurveyPrompt Title="How is Blazor working for you?" />
